{{page-title "RecipeBookApplication"}}

<div class="navbar">
<LinkTo @route="recipes" class="nav-link">Home</LinkTo>
<LinkTo @route="create-recipe" class="nav-link">Create a Recipe</LinkTo>
<LinkTo @route="favourites" class="nav-link">Favourites</LinkTo>
</div>

<div class="container">
{{outlet}}
</div>